<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774804092780-oqok45ndtgnp2m47uku7gefk3m38l708.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774804092780-oqok45ndtgnp2m47uku7gefk3m38l708</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>774804092780-5ubvk0jrnf4h69um3o584j5m553utppk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeG_iKFdYvXgkSCUKqfu2oErlQwasfLzg</string>
	<key>GCM_SENDER_ID</key>
	<string>774804092780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alquilafacil</string>
	<key>PROJECT_ID</key>
	<string>alquilafacil-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>alquilafacil-auth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774804092780:ios:a839748b7599dc0c04a549</string>
</dict>
</plist>